<div class="topnav" ng-controller="loginController">
  <img style="margin-left: 40px; margin-top: 5px" src="images/1.png" height="60px" width="60px">
  <a style="margin-top: 5px" ng-show="check()" href ng-click = "logout()"><br>LOGOUT</a>
  <a style="margin-right: 750px; position: absolute" href="#/login">&nbsp;&nbsp;&nbsp;&nbsp;AN AUTOMATED E-TOLL SYSTEM</a>
</div>


<div class = 'wrapper'>
  
      <h3><strong>Name: </strong>&nbsp;&nbsp;{{details.username}}
      <br><br>
      <strong>Registration Number:</strong>&nbsp;&nbsp;{{details.dlno}}
      
      <br><br><br>
   
      <a href="#transactions"><button style="width: 200px; margin-left: 150px" class="btn btn-lg btn-primary btn-block" type="button" name="transactions">Transactions</button></a>
    
 
</div>


<style>
  
  .wrapper{
    margin-top: 130px;
    margin-left: 350px;
    margin-right: 100px;


  }
</style>
