<div class="topnav" ng-controller="loginController">
  <img style="margin-left: 40px; margin-top: 5px" src="images/1.png" height="60px" width="60px">
  <a style="margin-top: 5px" ng-show="check()" href ng-click = "logout()"><br>LOGOUT</a>
  <a style="margin-right: 750px; position: absolute" href="#/login">&nbsp;&nbsp;&nbsp;&nbsp;AN AUTOMATED E-TOLL SYSTEM</a>
</div>


<form class="wrapper" ng-submit = 'get_transactions()' method="post">
  <div class="row">
    <div class="col">
      <label for="start_date"><b>Start Date:</b></label>
      <input type="date" class="form-control" name = 'start_date' ng-model = 'start_date'>
    </div>
    <div class="col">
      <label for="end_date"><b>End Date:</b></label>
      <input type="date" class="form-control" name = 'end_date' ng-model = 'end_date'>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <button type="submit" class="btn btn-primary float-right" style="width: 50%">Submit</button>
    </div>
  </div>
</form>
<br>
<table class="table" ng-show = 'isData'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Starting Point</th>
      <th scope="col">End Point</th>
      <th scope="col">Cost</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = 'x in details'>
      <th scope="row">{{$index + 1}}</th>
      <td>{{x.fname + ' ' + x.lname}}</td>
      <td>{{x.start}}</td>
      <td>{{x.end}}</td>
      <td>{{x.cost}}</td>

    </tr>
  </tbody>
</table>


<style>
  
  .wrapper{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 100px;
  }

</style>